@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

root{
    --fuentePrincipal: font-family: 'Inter', sans-serif;
}
body{

    font-family: var(--fuentePrincipal);

}
h2{
    margin-bottom: 3rem;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
}


.card{
    background: #F2F2F2;
}

.card__copy{
    margin-top: 20px;
}

.card__contenedor{
    display: flex;
    flex-direction: column;
 
}

@media(min-width: 992px){
    .card__contenedor{
        width: 99%;
        margin: 0 auto;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
        grid-template-areas: 
        ".   card1      .    "
        "card2  card1   card3"
        "card2  card4   card3"
        ".      card4   .    ";
    }
    
}

.card__item{
    padding: 20px;
    background-color: white;
    border-top:  5px solid #667EEA;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    
}
@media(min-width: 992px){
    .card__item{
        margin-bottom: 0rem;
    }
}


.card__img{
    background: blue;
    margin-top: 20px;
    width: 80px;
    height:80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card__titulo{
    margin: 20px 0;
    font-size: 1.5rem;
}

.card__parrafo{
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.card__item:nth-last-of-type(1){
    grid-area: card1;
}

.card__item:nth-last-of-type(2){
    grid-area: card2;
}

.card__item:nth-last-of-type(3){
    grid-area: card3;
}

.card__item:nth-last-of-type(4){
    grid-area: card4;
}